.signup-register {
    margin-left: 500px;
    width: 400px;
}

.form-box {
    margin-top: 20px;
    width: 380px;
    height: 400px;
    position: relative;
    background: #fff;
    padding: 5px;
    margin: 6% auto;
    overflow: hidden;
}

.button-box {
    margin: 35px auto;
    width: 220px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #2bb385, #55d6aa);
    border-radius: 30px;
    transition: .5s;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #2bb385, #55d6aa);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 30px;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.signup p {
    text-align: center;

}